{% extends 'base.html' %}

{% block title %}
Movies
{% endblock %}

{% block content %}
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Movies</h1>
    
<table class="relative overflow-x-auto shadow-md sm:rounded-lg dark:bg-slate-800 text-white w-max ">
    <thread class="w-full text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th class="px-6 py-3">Title</th>
            <th class="px-6 py-3">Genre</th>
            <th class="px-6 py-3">Stock</th>
            <th class="px-6 py-3">Daily Rate</th>
        </tr>
    </thread>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td class="px-6 py-4">{{ movie.title }}</td>
            <td class="px-6 py-4">{{ movie.genre }}</td>
            <td class="px-6 py-4">{{ movie.number_in_stock }}</td>
            <td class="px-6 py-4">{{ movie.daily_rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}